<?xml version='1.0' encoding='utf-8'?>
<widget id="net.lugocorp.sequence" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sequence Dungeons</name>
    <description>A retro RPG rougelite game</description>
    <author email="alugocp@aim.com" href="http://lugocorp.net">
        Alex Lugo
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
